RewriteEngine on

# https rewrite starts here

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# mod_rewrite one starts here

# Does not apply to existing directories, meaning that if the folder exists on the server then don,t change anything and don't run the rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the page with .html extension

RewriteRule ^(.*)$ $1.html [NC,L]